*
!*/
!.env.example
!.gitignore
!*.MD
!requirements.txt

!app/*
!app/configs/*
!core/*
!resources/*
resources/assets/.webassets-cache
!routes/*
!core/chromedriver/*
core/chromedriver/downloads/*
core/chromedriver/extensions/*

