*
!*/
!.env.example
!.gitignore
!*.MD
!requirements.txt

!src/app/*
!src/core/*
!src/resources/*
!src/routes/*
!src/core/chromedriver/*
src/core/chromedriver/downloads/*
src/core/chromedriver/extensions/*

